<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="example test Suite" verbose="1">
    <listeners>
        <listener class-name="com.globant.sauceProject.listeners.Listeners"></listener>
    </listeners>
    <test name="Test">
        <parameter name="username" value="standard_user"/>
        <parameter name="password" value="secret_sauce"/>
        <parameter name="firstName" value="Juan"/>
        <parameter name="lastName" value="Perez"/>
        <parameter name="postalCode" value="123456"/>
        <groups>
            <run>
<!--                <include name="dataLogin"/>-->
<!--                <include name="regression"/>-->
            </run>
        </groups>
        <classes>
            <class name="com.globant.sauceProject.tests.LogoutTest"/>
            <class name="com.globant.sauceProject.tests.PurchaseProductTest"/>
            <class name="com.globant.sauceProject.tests.RemoveFromCartTest"></class>
        </classes>
    </test>
</suite>